<form class="form" id="{{formId}}" name="{{formName}}" action="{{formAction}}" autocomplete="{{formAutocomlete}}"
    novalidate="{{formNovalidate}}">

    {{#each inputs}}
    {{>input/input input=.}}
    {{/each}}

</form>