<div class="isonlinecontainer">
    <div class="{{className}}" name="{{name}}">
        <img class="{{imgClassName}}" src={{src}} alt="{{alt}}">
    </div>
    {{#if isOnline}}
    <div class="avatar__online-indicator"></div>
    {{/if}}
</div>